/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

* {
	body {
		&.no-scroll {
		}
		#menu-curtain {
		}
		#container {
			header {
				#inner-header {
					#logo-nav-section {
						a {
							#website-name {

							}
						}
						a {
							#cart-icon {
							}
						}
						#menu-open {

							&.hide {
							}
						}
						.logo-img {
						}
					}
					nav {

						#menu-close {

							&.show {

							}
						}
						ul {

							li {
								a {

									&:hover {
									}
								}
							}
						}
						&.show {

						}
					}
					#header-img {

					}
				}
			}
			#content {

			}
			footer {
			}
		}
		// home page
		&.home {
			#container {
				header {

				}
				#content {
					#inner-content {
						main {
              max-width: 1200px;
              margin: auto;
							#row-one {
                display: grid;
                grid-template-columns: 1fr 1fr;
								.delivery {
                  grid-column: 1/3;
                  width: 50%;
                  margin-bottom: 22px;
									.delivery-img {
									}
									p {

									}
								}
								.shop {
                  margin: 10px;
									.shop-wrap {

										h2 {

										}
										.shop-link {

										}
									}
								}
							}
						}
					}
				}
			}
		}
		// shop
		&.page-id-8 {
			#container {
				header {
					#inner-header {
						nav {

						}
						#header-img {
						}
					}
				}
				#content {
					#inner-content {
						main {

						}
					}
				}
			}
		}
		// basket
		&.page-id-9 {
			#container {
				header {
					#inner-header {
						#header-img {
						}
					}
				}
			}
		}
		&.page-id-10 {
			#container {
				header {
					#inner-header {
						#header-img {
						}
					}
				}
			}			
		}
		// my account
		&.page-id-11 {
			#container {
				header {
					#inner-header {
						nav {

						}
						#header-img {
						}
					}
				}
				#content {
					#inner-content {
						main {

						}
					}
				}
			}
		}
		&.page-id-59 {

		}
		&.page-template-custompage-1 {
			#container {
				#content {
					
					#inner-content {
						main {
							div {
								p {
								}
								img {
								}
							}
						}
					}
				}
			}
		}
		&.product-template-default {
			#container {
				#content {
					#inner-content {
						main {
							article {
								header {
								}
							}
						}
					}
				}
				footer {
				}
			}
		}
	}
}